{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div>
    <address>
    Sydney, NSW<br />
    <br />
    </address>
    
    <address>
    <strong>Damian Grabowski:</strong>   <a href="mailto:damian.grabowski7@gmail.com">damian.grabowski7@gmail.com</a>
        <br />
    <a href="https://www.linkedin.com/in/damian-grabowski-630297b7">Damian's LinkedIn</a>
        <br/>
        <br />
    <strong>Alexandre Carvalho:</strong> <a href="mailto:af.carvalho@live.com">af.carvalho@live.com</a>
        <br />
    <a href="https://www.linkedin.com/in/alex4impact">Alexandre's LinkedIn</a>
    </address>

</div>

{% endblock %}
